<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="css/layout.css">
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <div class='wrapper'>
        <div class='intro-div'>
          <h1>Energy Statistics Visualizations</h1>
          <h3>A Python Project</h3>
        </div>
        <div class='form'>
          <form action="">
            <p>Select the region:</p>
            <input type="radio" id="US" name="region" value="US">
            <label for="US">US National</label><br>
            <input type="radio" id="By_State" name="region" value="By_State">
            <label for="By_State">By US State</label><br>
            <input type="radio" id="Ky" name="region" value="Ky">
            <label for="Ky">Kentucky</label>

            <br>

            <p>Select an Energy Source:</p>
            <input type="radio" id="Wind" name="source" value="Wind">
            <label for="Wind">Wind</label><br>
            <input type="radio" id="Solar" name="source" value="Solar">
            <label for="Solar">Solar Thermal and Photovoltaic</label><br>
            <input type="radio" id="Hydro" name="source" value="Hydro">
            <label for="Hydro">Hydroelectric</label><br>
            <input type="radio" id="Geothermal" name="source" value="Geothermal">
            <label for="Geothermal">Geothermal</label><br>
            <input type="radio" id="Total" name="source" value="Total">
            <label for="Total">Total</label><br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        {% block content %} {% endblock %}
      </div>
    </body>
</html>
